ul {
  padding-left: 0;
}

h1 {
  flex: 3;
}

img {
  height: 300px;
}

button {
  background: url('./rocket.png') no-repeat center;
  background-size: 40px;
  width: 80px;
  height: 80px;
  border: 10px solid #000;
  border-radius: 25px;
  background-color: #000;
  color: #00fff9;
}

/* button {
    background: url(/static/media/rocket.896b4189.png) no-repeat center;
    background-size: 40px;
    width: 80px;
    height: 80px;
    border: 10px solid #000;
    border-radius: 25px;
    background-color: #000;
    color: #ffe100;
} */

.App {
  display: flex;
  justify-content: center;
}

.main {
  width: 40%;
}

.header {
  display: flex;
  justify-content: space-evenly;
  padding-top: 20px;
  padding-bottom: 20px;
}

.world-wrapper {
  display: flex;
}

.world-info {
  display: flex;
  flex-direction: column;
}

@keyframes glowing {
  0% { box-shadow: 0 0 -10px #00c4bf; }
  40% { box-shadow: 0 0 20px #00c4bf; }
  60% { box-shadow: 0 0 20px #00c4bf; }
  100% { box-shadow: 0 0 -10px #00c4bf; }
}

.button-glow {
  animation: glowing 5000ms infinite;
}
